.navigation {
  width: 100%;
}

.navigation__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 44px;
}

.navigation__movies {
  display: flex;
  gap: 16px;
}

.navigation__link {
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
}

.navigation__link_active {
  color: #3ddc84;
}

.navigation__profile {
  width: 100px;
  height: 32px;
  border: 2px solid #aaaaaa;
  border-radius: 50px;
  background-image: url(../../images/profile.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-position: 12px;
}

.navigation__link_profile {
  text-align: right;
  padding: 8px 12px 8px 7px;
}

@media screen and (max-width: 768px) {
  .navigation__auth {
    display: none;
  }

  .navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    max-width: 520px;
    min-height: 100vh;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
  }

  .navigation_active {
    z-index: 11;
    transition: 0.1s;
    opacity: 1;
    background-color: #202020;
  }

  .navigation__auth_active {
    display: flex;
    flex-direction: column;
    margin: 159px 90px 90px;
    transition: 0.5s;
    transform: translateX(0);
  }

  .navigation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 593px;
  }

  .navigation__link {
    margin-bottom: 28px;
  }

  .navigation__underline {
    display: grid;
    grid-area: underline;
    border: 2px solid #fff;
    margin-top: 4px;
  }

  .navigation__link {
    font-size: 18px;
    font-weight: 500;
  }

  .navigation__link_profile {
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  .navigation__auth_active {
    margin: 144px 10px 46px;
  }

  .navigation__link {
    margin-bottom: 24px;
  }

  .navigation__links {
    margin: 0 0 420px;
  }
}
